<?xml version="1.0" encoding="utf-8" ?>
<!-- This is the System.Data.dll provider for SQL Server -->
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernateTest">
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">server=.;database=musicstore;uid=sa;pwd=123;</property>
    <property name="adonet.batch_size">10</property>
    <!--是否显示sql语句-->
    <property name="show_sql">true</property>
    <!--数据库的方言-->
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <!--<property name="use_outer_join">true</property>-->
    <property name="command_timeout">60</property>
    <!--数据库操作的方式-->
    <property name="hbm2ddl.auto">update</property>
    <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
    <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
    <!--找到对应的实体对象-->
    <mapping assembly="NHibernateDemo"/>
  </session-factory>
</hibernate-configuration>